*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    width: 1100px;
    margin: auto;

}
body {
    font-family: Barlow;
    background-image: url("../img/fondo.png");
}

/*HEADER,NAV*/

header,footer {
    background-color: #073141;
}


nav ul{
    text-align: center;
    list-style: none;
}
nav ul li{
    display: inline-block;
    width: 11% ;
    margin: 2rem;

}
nav ul li a{
    display: block;
    padding: 0.5rem;
    background-color: #D5ECF3;
    text-decoration: none;

}

/*NAV PSEUDOCLASES*/

 nav ul li a:link{
    color: #073141;
 }

 nav ul li a:visited{
    color: #277A8C;
 }

 nav ul li a:hover{
    background-color: #277A8C;
    color: #D5ECF3;
 }

 nav ul li a:active{
    color: #44AFF3;
 }

 /*FOOTER*/

 footer address{
    
    margin-bottom: 1.5rem;
 }
 footer ul{
    text-align: center;
    
 }
 footer p{
    text-align: center;
    color: #D5ECF3;
 }
 footer ul li{
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    list-style: none;
    }

 